In [1]:
# Data handling
import pandas as pd
import numpy as np

# Visualization
import matplotlib.pyplot as plt
import seaborn as sns

# Preprocessing & Modeling
from sklearn.model_selection import train_test_split, RandomizedSearchCV
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

# Saving model
import joblib

# Ignore warnings
import warnings
warnings.simplefilter('ignore')

Matplotlib is building the font cache; this may take a moment.

In [7]:
# Load dataset
df = pd.read_csv("car_sales_data.csv")  # load csv file  from desktop
df.head(10)  # Show first 5 rows

,Manufacturer,Model,Engine size,Fuel type,Year of manufacture,Mileage,Price
0,Ford,Fiesta,1.0,Petrol,2002,127300,3074
1,Porsche,718 Cayman,4.0,Petrol,2016,57850,49704
2,Ford,Mondeo,1.6,Diesel,2014,39190,24072
3,Toyota,RAV4,1.8,Hybrid,1988,210814,1705
4,VW,Polo,1.0,Petrol,2006,127869,4101
5,Ford,Focus,1.4,Petrol,2018,33603,29204
6,Ford,Mondeo,1.8,Diesel,2010,86686,14350
7,Toyota,Prius,1.4,Hybrid,2015,30663,30297
8,VW,Polo,1.2,Petrol,2012,73470,9977
9,Ford,Focus,2.0,Diesel,1992,262514,1049

In [3]:
import os
print(os.getcwd())

/Users/ravi/Desktop/HTW_ProITD/Data_science/Data_science_Practical

In [5]:
# Dataset shape
print("Rows and Columns:", df.shape)

# Column info & missing values
print(df.info())

# Count missing values per column
print(df.isna().sum())

# Summary statistics for numeric columns
print(df.describe())

Rows and Columns: (50000, 7)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Manufacturer         50000 non-null  object
 1   Model                50000 non-null  object
 2   Engine size          50000 non-null  float64
 3   Fuel type            50000 non-null  object
 4   Year of manufacture  50000 non-null  int64
 5   Mileage              50000 non-null  int64
 6   Price                50000 non-null  int64
dtypes: float64(1), int64(3), object(3)
memory usage: 2.7+ MB
None
Manufacturer           0
Model                  0
Engine size            0
Fuel type              0
Year of manufacture    0
Mileage                0
Price                  0
dtype: int64
        Engine size  Year of manufacture        Mileage          Price
count  50000.000000         50000.000000   50000.000000   50000.000000
mean       1.773058          2004.209440  112497.320700   13828.903160
std        0.734108             9.645965   71632.515602   16416.681336
min        1.000000          1984.000000     630.000000      76.000000
25%        1.400000          1996.000000   54352.250000    3060.750000
50%        1.600000          2004.000000  100987.500000    7971.500000
75%        2.000000          2012.000000  158601.000000   19026.500000
max        5.000000          2022.000000  453537.000000  168081.000000